.background {
  width: 100%;
  display: flex;
  background-image: url(./background.jpg);
  flex-direction: column;
}

.heading {
  font-size: 36pt;
  color: #ffa826;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6), 0 0 5px rgba(0, 0, 0, 0.6);
}

.subtitle {
  color: #ffa826;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2%;
  text-align: center;
  border: 2px double #ffa826;
  box-shadow: 0px 0px 7px 2px rgba(255, 168, 38, 1),
    inset 0px 0px 7px 2px rgba(255, 168, 38, 1);
  text-align: center;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.6), 0 0 5px rgba(0, 0, 0, 0.6);
}

.abtContainer {
  width: 100%;
  display: flex;
  /* background-image: url(./background.avif); */
  font: white;
  flex-direction: column;
  align-items: center;
  padding-top: 8%;
  padding-bottom: 2%;
}

.abtSubContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 60px;
  background: linear-gradient(
    30deg,
    rgba(190, 190, 190, 0.6) 0%,
    rgba(217, 217, 217, 0) 70%
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.abtContent {
  display: flex;
  flex-direction: column;
  color: white;
  width: 60%;
  font-size: 18px;
  padding-bottom: 1%;
}

.burgerContainer {
  width: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.burger {
  width: 250%;
  position: absolute;
  top: -10%;
  right: -55%;
}

.opContainer {
  width: 100%;
  display: flex;
  /* background-image: url(./background.avif); */
  font: white;
  padding-top: 8%;
  padding-bottom: 2%;
  justify-content: center;
}

.opSubContainer {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 60px;
  background: linear-gradient(
    180deg,
    rgba(144, 144, 144, 0.5) 0%,
    rgba(217, 217, 217, 0) 54%
  );
  /* box-shadow: inset 0 0 100px 5px rgba(217, 217, 217, 0.8); */
}

.opSubSubContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 2%;
}

.opContent {
}

.opAContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 18px;
  padding-bottom: 60px;
}

.opBContent {
  width: 25%;
  display: flex;
  flex-direction: column;
  border-radius: 300px;
  padding: 1%;
  background: linear-gradient(
    180deg,
    rgb(71, 71, 71) 0%,
    rgba(217, 217, 217, 0) 54%
  );
  backdrop-filter: blur(3px);
  color: white;
  box-shadow: inset 0 0 100px 5px rgba(217, 217, 217, 0.8);
  justify-content: space-between;
  align-items: center;
}

.bWording {
  width: 90%;
}

.imgBContainer {
  display: flex;
  justify-content: center;
  width: 90%;
}

#locateHead {
  font-size: 30px;
  color: white;
  padding: 30px;
}

.locateContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* background-image: url(./background.avif); */
  flex-wrap: wrap;
  padding: 5% 0 5% 0;
  justify-content: space-between;
}

.locateLeftContainer {
  width: 30%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.locateContent {
  color: white;
  padding-bottom: 3%;
}

iframe {
  width: 60%;
  border: unset;
  padding: 2%;
}

.smasher,
.angus,
.glutenFree {
  width: 90%;
  height: auto;
  padding: 5% 0 5% 0;
}

@media only screen and (max-width: 800px) {
  .abtSubContainer {
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
  }

  .burger {
    all: unset;
    padding-top: 5%;
    width: 100%;
  }

  .heading {
    text-align: center;
  }

  .abtContent {
    width: 80%;
  }

  .aWording {
    width: 100%;
    max-height: 280px;
    overflow-x: hidden;
    text-align: center;
  }

  .burgerContainer {
    width: 33%;
  }

  .opContainer {
    padding-top: 2%;
  }

  .opSubContainer {
    align-items: center;
    text-align: center;
  }

  .opSubSubContainer {
    flex-direction: column;
    align-items: center;
  }

  .opBContent {
    width: 80%;
    border-radius: 200px;
    margin-bottom: 5%;
  }

  .bWording {
    width: 80%;
  }

  .imgBContainer {
    width: 60%;
  }

  .locateContainer {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .locateLeftContainer {
    width: 100%;
    margin-bottom: 5%;
    margin: unset;
    padding: unset;
    padding-bottom: 5%;
  }

  iframe {
    width: 80%;
  }
}
