h1 {
  flex-basis: 100%;
  align-self: flex-start;
  color: white;
}

h2 {
  flex-basis: 100%;
  align-self: flex-start;
  color: white;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  background-image: url(./black-wall-texture.jpg);
  font: white;
  padding: 15px;
}

.subcontainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.content {
  align-self: flex-start;
  color: white;
  max-width: 60vw;
}

.bugrger {
  width: 300px;
}

.smasher,
.angus {
  width: 250px;
  height: auto;
}
