.bigContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./background.jpg);
  padding-bottom: 2%;
}

.bigTitle {
  width: 100%;
  padding: 2% 0 4% 0;
  display: flex;
  justify-content: center;
  font-size: 36pt;
  font-weight: bolder;
  color: #ffa826;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: Avenir;
  color: white;
  padding-bottom: 2%;
}

.buttonSection {
  width: 45%;
  text-align: center;
}

.title {
  color: #ffa826;
  font-size: 24pt;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 0 0 3px black, 0 0 5px black;
  padding-bottom: 2%;
}

.allIngredientsContainer {
  all: unset;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingredientContainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 1px 7px 2px rgba(0, 0, 0, 0.5) inset;
  color: black;
  padding: 1%;
  margin: 1%;
}

.ingredientName {
  width: 40%;
  font-weight: bold;
  font-size: 14pt;
}

.btn {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 40px;
  border: #c6c6c6 0.5px solid;
  padding: 0.5%;
}

.ingredientButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0;
  width: 33px;
  height: 33px;
  border-radius: 8px;
  font-size: 12pt;
  background-color: unset;
  color: #ffa826;
  font-size: 20pt;
}

.ingredientButton:hover {
  background-color: #ebebeb;
  border-radius: 40px;
}

.ingredientButton:active {
  background-color: #c6c6c6;
  border-radius: 40px;
}

.atcBtnContainer {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summitButton {
  width: 300px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.15);
  border: 0px;
  font-size: 12pt;
  height: 33.6px;
  background-color: #ffa826;
}

.cmDiv {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.totalCost {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: 14pt;
  font-weight: 500;
}

.costNum {
  font-size: 24pt;
  font-weight: bold;
  color: #ffa826;
}

.index {
  padding: 0 10px;
}

.cmTitile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.burgertop {
  width: 220px;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("burgertop.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* top: -30px;
    bottom: -10px; Adjust this value to control the amount of overlap */
}
.burgerbottom {
  width: 220px;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("burgerbottom.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: -30px;

  /* top: -30px;
    bottom: -10px; Adjust this value to control the amount of overlap */
}
.Filet-O-Fish {
  width: 300px;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("fish.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Mushroom {
  width: 220px;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("Mushroom.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* top: -30px;
    bottom: -10px; Adjust this value to control the amount of overlap */
}
.Shrimp-Cake {
  width: 220px;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("Shrimp-Cake.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* top: -30px;
    bottom: -10px; Adjust this value to control the amount of overlap */
}
.Grilled-Chicken {
  width: 220px;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("GrilledChicken.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* top: -30px;
    bottom: -10px; Adjust this value to control the amount of overlap */
}
.Patties {
  width: 220px;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("patty.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* top: -30px;
  bottom: -10px; Adjust this value to control the amount of overlap */
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Cheese {
  width: 220px;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("cheese.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 200px;
}

.Lettuce {
  width: 220px;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("lettuce.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* top: -30px;
  bottom: -10px; Adjust this value to control the amount of overlap */
}
.Avocado {
  width: 220px;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("avocado.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 500px;
  /* top: -30px;
  bottom: -10px; Adjust this value to control the amount of overlap */
}
.Onion {
  width: 200px;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("onion.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 500px;
  /* top: -30px;
  bottom: -10px; Adjust this value to control the amount of overlap */
}
.Tomato {
  width: 220px;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("tomato.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.Teriyaki-chicken {
  width: 220px;
  height: 50px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url("teriyaki-chicken.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.ingredient-text {
  display: none;
}
.ingredient-text {
  color: #055154;
  width: 300px;
  font-size: 16px;
  display: flex;
  margin-left: 250px;
  display: none;
}

@media screen and (max-width: 660px) {
  .wrapper {
    flex-direction: column;
  }

  .btn {
    overflow: visible;
  }

  .buttonSection {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .itemDiv {
    color: black;
    margin: 10px 40px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .ingredientButton {
    border-radius: 5px;
    transform: scale(1.4);
  }

  .ingredientBtns {
    margin: 0 5px;
  }

  .title {
    margin-left: 5px;
    margin-right: 5px;
  }

  .index {
    padding: 0 20px;
  }

  .cmDiv {
    width: 100%;
    margin: 0;
  }

  .cmImg {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    padding: 0;
  }

  .burger {
    padding-bottom: 20px;
  }
}
