.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 300px;
}

.left-container {
  height: 100%;
  width: 30%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

#contactHead {
  font-size: 30pt;
  color: black;
}

#socialMediaContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.icon {
  width: 50px;
}

.right-container {
  width: 60%;
  height: 100%;
  display: flex;
  padding: 2%;
  flex-direction: column;
  justify-content: space-evenly;
}

.right-top-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.name {
  width: 40%;
}

.email {
  width: 50%;
}

.msg {
  max-height: unset;
  height: 40%;
  resize: none;
}

.name,
.email,
.msg {
  border-radius: 10px;
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.15) inset;
  border: 0px;
  padding: 1%;
  font-size: 16px;
}

.submit {
  border-radius: 15px;
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.15);
  border: 0px;
  font-size: 12pt;
  height: 33.6px;
  width: 80px;
  background-color: #ffa826;
  align-self: flex-end;
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: row;
    height: 600px;
  }
  .left-container {
    width: 100%;
    height: 300px;
  }
  .right-container {
    width: 100%;
    height: 300px;
  }
  .icon {
    width: 30%;
  }
}
