.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;
}

.right-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 0 20px 0;
}

#msg {
  height: 100%;
  margin: 20px 0 20px 0;
}
