.icon {
  width: 20px;
  height: 20px;
}

.container {
  width: 20%;
  height: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid black;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  border-bottom: 1px solid black;
  /* background-image: url(./background.jpg); */
}

.right {
  width: 80%;
  display: flex;
  margin-left: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.title,
.typeTitle {
  font-weight: bold;
  font-size: 30px;
  margin: 10px 0;
}

.title {
  width: 80%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px black solid;
}

.typeTitle {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px black solid;
}

.cat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
  padding: 3px 3px;
  width: 70%;
}

.cat:hover {
  /* text-decoration: underline; */
  transform: scale(1.2, 1.2);
  cursor: pointer;
  border-radius: 10px;
  background-color: #ffa826;
}

.cat:active {
  background-color: #fdc878;
}

.active {
  /* text-decoration: underline; */
  transform: scale(1.2, 1.2);
  cursor: pointer;
  border-radius: 10px;
  background-color: #ffa826;
}

.wordsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wordsContainer > * {
  margin: 5px;
}

.foodCardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 600px;
  max-height: 600px;
}

.foodCard {
  margin: 5px 10px 20px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  overflow: hidden;
  width: 200px;
  height: 280px;
}

.foodImage,
.price,
.buyButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buyButton:active {
  background-color: #fdc878;
}

.product {
  text-align: center;
  font-size: larger;
  font-weight: bold;
}

.price {
  font-size: medium;
  color: #ffa826;
  font-weight: bold;
}

.foodImageContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.foodImage {
  width: 90%;
  height: auto;
}

.buyButton {
  color: white;
  font-weight: 400;
  width: 100px;
  min-height: 10px;
  font-size: 15px;
  padding: 5px;
  background-color: #ffa826;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.15);
}

.wordsContainer > a {
  margin: 0;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  width: 80%;
}

a {
  color: #000;
}

/* hamburger menu */

.listContainer {
  width: 100%;
  max-height: 80px;
  top: 70px;
  position: relative;
  background-color: white;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.first {
  display: block;
  cursor: pointer;
  padding: 5px 12px;
  border-bottom: 1px solid #000;
}

.first:hover {
  background: #ffa826;
}

.one,
.two,
.three,
.four {
  padding: 10px;
  background-color: white;
  border: #fff 2px solid;
  font-size: 20px;
  padding: 12px;
  text-align: center;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover {
  background: #ffa826;
}

.one:active,
.two:active,
.three:active,
.four:active,
.first:active {
  background: #fdc878;
}

.input {
  position: absolute;
  left: -9999px;
}

.input ~ .ul {
  transform: scaleY(0);
}

.input:checked ~ .ul {
  height: 100%;
  transform-origin: top;
  transition: transform 0.2s ease-out;
  transform: scaleY(1);
  border-bottom: 1px solid #000;
}

.input:checked + .first {
  border-bottom: 1px solid #000;
}

.logo {
  height: 50px;
}

.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .cardContainer {
    flex-direction: column;
  }

  .foodCardContainer {
    width: 90%;
    height: auto;
    overflow: initial;
    max-height: unset;

    justify-content: flex-start;
    align-self: center;
  }

  .titleWord {
    padding: 10px;
  }

  .right {
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 431px) {
  .cardContainer {
    flex-direction: column;
  }

  .right {
    width: 100%;
  }

  .first {
    flex-wrap: wrap;
  }

  .menuTwo {
    flex-basis: 60%;
    text-align: end;
  }

  .logo {
    text-align: right;
  }

  .foodCard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
  }

  .one:hover,
  .two:hover,
  .three:hover,
  .four:hover {
    background: white;
  }

  .buyButton {
    width: 150px;
    padding: 2px;
    border-radius: 10px;
  }
}
