.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px gray soild;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 9999;
  height: 70px;
  border-bottom: black 1px solid;
  width: 100%;
}
.leftNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}
.rightNavBar {
  display: flex;
  align-items: center;
}
.imgDiv {
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
}

.imgDiv:active {
  background-color: #fdc878;
}

.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  display: flex;
}

.onlineorderbutton {
  margin: 5px;
  cursor: pointer;
}

.textButton {
  margin: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
}

.shop {
  width: 15px;
  height: 15px;
  margin: 5px;
  cursor: pointer;
}

.stafftbutton {
  margin: 5px;
  padding: px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.cartNum {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  width: 15px;
  height: 15px;
  background-color: #ffa826;
}

a {
  text-decoration: none;
}
