.container {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: white;
  z-index: 99999;
}

.cartLogo,
.currencyLogo,
.left,
.right {
  width: 50px;
  height: 50px;
}

.logo,
.menuLogo {
  width: 50px;
  height: 100%;
}

.right {
  flex-basis: 78%;
  display: flex;
  justify-content: center;
}

.list,
.header {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
}

.header,
.listContainer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.listContainer {
  z-index: 9999;
}

.header {
  z-index: 10000;
}

.list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.list1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 70px;
  width: 100%;
}

.list:hover,
.currencyLogo:hover,
.shop:hover {
  background-color: #ffa826;
}

.shop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartNum {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #ffa826;
}

.listContainer {
  position: fixed;
  top: 70px;
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: 0.5s;
}

.logoList {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.collapse {
  transition: 0.5s;
  position: absolute;
  top: -500px;
}
