.listContainer {
  width: 100%;
  max-height: 70px;
  background-color: #fff;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.first {
  display: block;
  cursor: pointer;
  padding: 5px 12px;
  border-bottom: 1px solid #000;
}

.first:hover {
  background: #ffa826;
}

.one,
.two,
.three,
.four,
.five {
  padding: 10px;
  background-color: white;
  border: #fff 2px solid;
  font-size: 20px;
  padding: 12px;
  text-align: center;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover {
  background: #ffa826;
}

.one:active,
.two:active,
.three:active,
.four:active,
.first:active {
  background: #fdc878;
}

.input {
  position: absolute;
  left: -9999px;
}

.input ~ .ul {
  transform: scaleY(0);
}

.input:checked ~ .ul {
  height: 100%;
  transform-origin: top;
  transition: transform 0.2s ease-out;
  transform: scaleY(1);
  border-bottom: 1px solid #000;
}

.input:checked + .first {
  border-bottom: 1px solid #000;
}

.hamburgerMenuLogo,
.logo {
  height: 50px;
}

.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.logoDiv {
  padding-top: 5px;
  flex-basis: 55%;
}

.five {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
