.videoDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videoBg {
  height: 100%;
  width: 100%;
  aspectratio: auto;
}
.contextDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderBtn {
  width: 180px;
  height: 50px;
  background-color: #ffa826;
  color: black;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 18vh;
}

.sloganDiv {
  color: #ffa826;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 0 0 3px black, 0 0 5px black;
  margin-top: 10vh;
}
.descriptionDiv {
  color: #ffa826;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

@media screen and (max-width: 480px) {
  .videoDiv {
    margin-top: 70px;
  }
}
